@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);

  --color-primary: #FBBF24;
  --color-primary-hover: #D97706;

  --color-surface-light: #FFFFFF;
  --color-surface-dark: #1F2937;

  --color-text-light: #1F2937;
  --color-text-dark: #F3F4F6;

  --color-subtext-light: #4B5563;
  --color-subtext-dark: #9CA3AF;

  --color-background-light: #F9FAFB;
  --color-background-dark: #111827;

  --color-muted-light: #6B7280;
  --color-muted-dark: #9CA3AF;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-text-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}